nav,header,footer{
    display: block;
}



body{
    line-height: 1;
    margin: 0;
}

nav{
    width: 100%;
    margin: 0;
    
}

nav ul{
    background-color:#3e94b3;
    overflow: hidden;
    padding: 0;
    margin: 0;
    
}
ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li.nav-right{
    float: right;
}

ul.topnav li a{
    text-decoration: none;
    min-height: 14px;
    display: block;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}

ul.topnav li a:hover{ background-color: aqua;
    color: azure;
    
    
    
}

